.chat-info-modal-wrapper {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $third-color-light;
    cursor: auto;
    .chat-info-modal {
        z-index: 6;
        background-color: $first-color;
        width: 400px;
        height: 600px;
        margin-top: 100px;
        border-radius: 8px;
        padding: 20px 0px;
        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                color: $main-font-color;
                font-weight: 400;
                letter-spacing: -1px;
                padding: 0px 20px;
                font-size: 23px;
            }
            .close-modal {
                background-color: transparent;
                border: 0;
                padding: 0px 20px;
                cursor: pointer;
                img {
                    height: 26px;
                    background-color: transparent;
                }
            }   
        }
        .head-info {
            display: flex;
            padding: 20px 0px;
            border-bottom: 8px solid $third-color;
            .friend-image {
                margin-left: 20px;
                border-radius: 8px;
                width: 60px;
                height: 60px;
                object-fit: cover;
            }
            .friend-bio {
                padding: 0px 20px;
                .friend-name {
                    color: $main-font-color;
                    font-size: 22px;
                }
                .friend-status {
                    font-weight: 400;
                    font-size: 15px;
                    .online {
                        color: $main-color;
                    }
                    .ofline {
                        color: $main-font-color;
                    }
                }
            }
        }
        .stats {
            .messages {
                padding: 20px 20px;
            }
        }
    }
}