.navbar-wrapper {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: $third-color-light;
    display: flex;
    justify-content: flex-start;
    .navbar {
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $second-color;
        .user-block {
            width: 100%;
            padding: 18px 24px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 10px;
            border-bottom: 1px solid $third-color;
            .user-avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $main-color;
            }
            .user-name {
                font-size: 16px;
                color: $main-font-color;
                font-weight: 400;
                margin-top: 14px;
            }
            .user-email {
                font-size: 13px;
                color: $main-font-color-transparent;
                font-weight: 300;
                margin-top: 2px;
            }
        }
        
    }
}

.navmodal-enter {
    transform: translateX(-50%);
}

.navmodal-enter-active {
    transform: translateX(0);
    transition: all 200ms;
}

.navmodal-exit {
    transform: translateX(0);
}

.navmodal-exit-active {
    transform: translateX(-50%);
    transition: all 200ms;
}
