.navbar-wrapper {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: $third-color-light;
    display: flex;
    justify-content: flex-start;
    .navbar {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $second-color;
        .user-block {
            width: 100%;
            padding: 18px 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 10px;
            border-bottom: 1px solid $third-color;
            .user-avatar {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .user-name {
                font-size: 16px;
                color: $main-font-color;
                font-weight: 400;
                margin-top: 14px;
            }
            .user-email {
                font-size: 13px;
                color: $main-font-color-transparent;
                font-weight: 300;
                margin-top: 2px;
            }
        }
        .settings-block {
            display: flex;
            flex-direction: column;
            margin-top: 6px;
            width: 100%;
            .nav-tab { 
                padding: 8px 0px;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                img {
                    width: 24px;
                    margin-left: 24px;
                    cursor: pointer; 
                }
                .btn {
                    font-family: Raleway;
                    flex: 1;
                    margin-left: 14px;
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 0.6px;
                    border: 0;
                    cursor: pointer;
                    color: $main-font-color;
                    background-color: transparent;  
                    width: 100%;
                    text-align: left;
                }
                &:hover {
                    background-color: $third-color;
                }
            }
        }
        .exit-tab {
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: auto 0px 20px 0px;
            padding: 8px 0px;
            transition: all .1s linear;
            &:hover {
                background-color: rgb(196, 6, 6);
            }
            img {
                margin-left: 24px;
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
            .exit-btn {
                font-family: Raleway;
                flex: 1;
                margin-left: 14px;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0.6px;
                border: 0;
                cursor: pointer;
                color: $main-font-color;
                background-color: transparent;  
                width: 100%;
                text-align: left;
            }
        }
    }
}

.navmodal-enter {
    transform: translateX(-50%);
}

.navmodal-enter-active {
    transform: translateX(0);
    transition: all 200ms;
}

.navmodal-exit {
    transform: translateX(0);
}

.navmodal-exit-active {
    transform: translateX(-50%);
    transition: all 200ms;
}
