.profile-modal-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $third-color-light;
    .profile-modal {
        background-color: $first-color;
        width: 400px;
        height: 600px;
        margin-top: 100px;
        border-radius: 8px;
        padding: 20px 0px;
        .profile-modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .profile-title{
                color: $main-font-color;
                font-weight: 400;
                letter-spacing: -1px;
				padding: 0px 20px;
            }
            .close-modal {
                background-color: transparent;
                border: 0;
                padding: 0px 20px;
                cursor: pointer;
                img {
                    height: 26px;
                    background-color: transparent;
                }
            }  
        }
        .user-info {
            margin-top: 20px;
			border-bottom: 8px solid $third-color;
			.profile-main-info {
				display: flex;
				padding: 0px 20px 20px;
                align-items: center;
				.profile-avatar-block {
                    .profile-avatar {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin-right: 10px;
                        object-fit: cover;
                    }
				}
                .profile-description {
                    width: 70%;
                    .username {
                        color: $main-font-color;
                        font-weight: 500;
                    }
                    .user-title {
                        color: $main-font-color;
                    }
                    .user-email {
                        color: $main-font-color-dark;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
			}
        }
		.choose-file {
			border-bottom: 2px solid $second-color;
			input {
				padding: 0;
			}
		}
        .profile-settings {
            .edit-profile-btn {
                margin-top: 10px;
                padding: 8px 0px 8px 20px;
                color: $main-font-color;
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    margin-right: 12px;
                    width: 24px;
                }
                &:hover {
                    background-color: $third-color;
                }
            }
        }
    }
}

.profmodal-enter {
    opacity: 0.01;
}

.profmodal-enter-active {
    opacity: 1;
    transition: all 150ms linear;
}

.profmodal-exit {
    opacity: 1;
    transition: all 150ms linear;
}

.profmodal-exit-active {
    opacity: 0.01;
}
