/* Font Styles */

$main-font-style: "Raleway";
$main-font-color: #d2d2d3;
$main-font-color-dark: #a0a0a0;
$main-font-color-transparent: #a0a0a084;
$first-color:#303134;
$second-color:rgb(33,33,33);
$third-color:#36383e;
$third-color-light:rgba(33, 33, 33, 0.4);

$user-color: #37383b;
$friend-color: #484a4e;

$main-color: rgb(90, 82, 175);
$main-color-light: rgb(118, 109, 223);