/* Font Styles */

$main-font-style: "Raleway";
$main-font-color: #d2d2d3;
$first-color:#252629;
$second-color:rgb(33,33,33);
$third-color:#36383e;

$user-color: #37383b;
$friend-color: #484a4e;

$main-color: rgb(90, 82, 175);