.home-page {
    display: flex;
    height: 100%;
    position: relative;
    .chat-list{
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        border-right: 2px solid black;
        overflow: auto;
        padding: 8px 12px;
        .add-chat {
            background-color: #2F3136;
            border-radius: 8px;
            width: 100%;
            color: $main-font-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 6px;
        }
    }
    .add-chat-modal {
        position: absolute;
    }
    .choose-chat {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2F3136;
        color: $main-font-color;
    }
}