.room-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .chat-info {
        background-color: $first-color;
        color: #B9BBBE;
        display: flex;
		align-items: center;
		gap: 10px;
        height: 5%;
        border-left: solid 1px $second-color;
		cursor: pointer;
        .user-list {
			margin-left: 5px;
			.chat-member {

			}
        }
    }
}

