.room-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .message-chat {
        width: 100%;
        height: 100%;
        display: flex;
        .aside-room {
            background-color: #2F3136;
            color: #B9BBBE;
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: space-between;
            .user-list {
                flex: 1;
                background-color: #2F3136;
                color:#d2d2d3;
                padding: 10px 5px;
            }
        }
        .chat {
            background-color: #36393F;
            width: 100%;
            display: flex;
            flex-direction: column;
            .messages-container {
                padding: 10px;
                flex: 1;
                overflow: auto;
                background-color: #36393F;
                display: flex;
                flex-direction: column;
                .user-message {
                    align-self: flex-end;
                    margin-left: 40px;
                    .owner {
                        color: #1cd9cc;
                    }
                }
                .friend-message {
                    align-self: flex-start;
                    margin-right: 40px;
                    .owner {
                        color: #d91c48;
                    }
                }
                .message {
                    background-color: #313131;
                    margin-bottom: 5px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    .owner {
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                    .text {
                        font-size: 16px;
                        color:#d2d2d3;
                        border-radius: 10px;
                        word-wrap: break-word;
                    }
                    .time {
                        font-size: 14px;
                        align-self: flex-end;
                    }
                }
            }
            .send-message-form {
                padding: 10px 5px;
                display: flex;
                column-gap: 6px;
                input {
                    color: #B9BBBE;
                    padding: 5px;
                    font-size: 18px;
                    flex: 1;
                    background-color: #2F3136;
                    border: 0;
                    border-radius: 4px;
                }
                button {
                    width: 15%;
                }
            }
        }
    }
}

.lobby {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .lobby-inputs {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        input {
            font-size: 15px;
            font-weight: 500;
            padding: 6px 12px;
            border-radius: 2px;
            background-color: #cacaca;
            &:focus {
                outline: 2px solid rgb(50, 186, 86);
                border-radius: 2px;
                background-color:white;
            }
        }
        &:last-of-type {
            margin-bottom: 12px;
        }
    }
}
