@import "_variables";
@import "./links";
@import "_buttons.scss";
@import "./layout";
@import "_navigation";
@import "_home.scss";
@import "_notFound";
@import "_message.scss";

input {
    padding: 4px 8px;
    border: 0;
    border-radius: 4px;
    &:focus {
        outline: 0px;
        border-radius: 0px;
    }
}

html {
    height: 100%;
    body {
        background-color: #36393F;
        height: 100%;
        #root {
            height: 100%;
            .page {
                min-height: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

h2 {
    color: #313131;
}

h6 {
    color: #12b8de;
}